In [ ]:
# Hypothesis testing is of two types:

One-tailed test
Two-tailed test

In [1]:
import numpy as np
from scipy.stats import describe
np.random.seed(20)
v = np.random.normal(size=100)
# print(v)
result = describe(v)
print(result)

DescribeResult(nobs=100, minmax=(-3.1897027892252625, 2.094665338082445), mean=-0.05452698880971828, variance=1.1619891729742677, skewness=-0.37835830794254766, kurtosis=-0.22038541510131981)

In [ ]:
#t test

In [2]:
import numpy as np
from scipy.stats import ttest_ind
np.random.seed(20)
sample1 = np.random.normal(size=100)
sample2= np.random.normal(size=100)
res = ttest_ind(sample1, sample2)
print(res)

TtestResult(statistic=-0.9581816204068413, pvalue=0.33913970889048073, df=198.0)

In [3]:
res = ttest_ind(sample1, sample2).df
print(res)

198.0

In [ ]:
One-sample t-test example in Python
Let us learn how to conduct a one-sample t-test in Python using the scipy.stats.ttest_1samp() function.

In [6]:
import numpy as np  
from scipy import stats  
# Population Mean 
mu = 10
# Sample Size
N1 = 21
# Degrees of freedom  
dof = N1 - 1
# Generate a random sample with mean = 11 and standard deviation = 1
x = np.random.randn(N1) + 11
# print(x)
# Using the Stats library, compute t-statistic and p-value
t_stat, p_val = stats.ttest_1samp(a=x, popmean = mu)
print("t-statistic = " + str(t_stat))  
print("p-value = " + str(p_val))

t-statistic = 4.347224744703185
p-value = 0.0003124306418742825

In [7]:
dir() #

['In',
 'N1',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'describe',
 'dof',
 'exit',
 'get_ipython',
 'mu',
 'np',
 'open',
 'p_val',
 'p_value',
 'pvalue',
 'quit',
 'res',
 'result',
 'sample1',
 'sample2',
 'stats',
 't_stat',
 'ttest_ind',
 'v',
 'x']

In [8]:
del res

In [9]:
res

NameError: name 'res' is not defined

In [10]:
stats.ttest_1samp(a=x, popmean = mu)

TtestResult(statistic=4.347224744703185, pvalue=0.0003124306418742825, df=20)

In [ ]:
Interpretation of the test results
The value of t-statistic comes out to be 4.69 which seems to be very far from the mean of zero in a t-distribution. 
To quantify such extreme value, we refer to a p-value (which is introduced in the terminology section). 
The p-value is less than the default significance level of 0.05, which indicates that 
the probability of such an extreme outcome is close to zero and that the null hypothesis can be rejected.

Note that the significance level is set at the beginning of the experiment.

In [ ]:
Two-sample t-test
Let’s consider that the first factory shares 21 samples of ball bearings where the mean diameter of the sample comes out to be 10.5 cm. 
On the other hand, the second factory shares 25 samples with a mean diameter of 9.5 cm. 
Both have a standard deviation of 1 cm.

In [11]:
# Sample Sizes
N1, N2 = 21, 25
# Degrees of freedom  
dof = min(N1,N2) - 1
# Gaussian distributed data with mean = 10.5 and var = 1  
x = np.random.randn(N1) + 10.5
# Gaussian distributed data with mean = 9.5 and var = 1  
y = np.random.randn(N2) + 9.5
## Using the internal function from SciPy Package  
t_stat, p_val = stats.ttest_ind(x, y)  
print("t-statistic = " + str(t_stat))  
print("p-value = " + str(p_val))

t-statistic = 2.6780753321048367
p-value = 0.010370713366117248

In [ ]:
Paired t-test example in Python
Let’s perform a paired t-test to verify if the change is statistically significant.

In [12]:
np.random.seed(15)
# Sample Sizes
N = 25
# Degrees of freedom  
dof = N - 1
# Gaussian distributed data with mean = 10.5 and var = 1  
Before_training = np.random.randn(N) + 10.5
# Gaussian distributed data with mean = 9.9 and var = 1  
after_training = np.random.randn(N) + 9.9
t_stat, p_val = stats.ttest_rel(Before_training,after_training)
print("t-statistic = " + str(t_stat))  
print("p-value = " + str(p_val))

t-statistic = 2.5116110611974207
p-value = 0.019152226726422927

In [ ]:
Interpretation of the test results
if the p value is higher, The higher p-value indicates that the null hypothesis is accepted, i.e., there is a change in training program.

In [ ]:
Chisquares test

In [13]:
import numpy as np
import pandas as pd
import scipy.stats as stats
national = pd.DataFrame(["white"]*100000 + ["hispanic"]*60000 +\
                        ["black"]*50000 + ["asian"]*15000 + ["other"]*35000)
minnesota = pd.DataFrame(["white"]*600 + ["hispanic"]*300 + \
                         ["black"]*250 +["asian"]*75 + ["other"]*150)

print(national)

national_table = pd.crosstab(index=national[0], columns="count")
minnesota_table = pd.crosstab(index=minnesota[0], columns="count")

print( "National")
print(national_table)
print(" ")
print( "Minnesota")
print(minnesota_table)

            0
0       white
1       white
2       white
3       white
4       white
...       ...
259995  other
259996  other
259997  other
259998  other
259999  other

[260000 rows x 1 columns]
National
col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000

Minnesota
col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

In [14]:
national_ratios = national_table/len(national)  # Get population ratios

observed = minnesota_table
expected = national_ratios * len(minnesota)   # Get expected counts

# chi_square statistics
chi_squared_stat = (((observed-expected)**2)/expected).sum()
print(chi_squared_stat)

crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 4)   # Df = number of variable categories - 1
print("Critical value:", crit)
print()

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=4)
print("P value:",p_value)
print()

col_0
count    18.194805
dtype: float64
Critical value: 9.487729036781154

P value: [0.00113047]

In [15]:
stats.chisquare(f_obs= observed,  f_exp= expected)   # Array of expected counts

Power_divergenceResult(statistic=array([18.19480519]), pvalue=array([0.00113047]))

In [ ]:
#Chi-Squared Test of Independence

In [16]:
np.random.seed(10)

# Sample data randomly at fixed probabilities
voter_race = np.random.choice(a= ["asian","black","hispanic","other","white"],
                              p = [0.05, 0.15 ,0.25, 0.05, 0.5],
                              size=1000)

# Sample data randomly at fixed probabilities
voter_party = np.random.choice(a= ["democrat","independent","republican"],
                              p = [0.4, 0.2, 0.4],
                              size=1000)

voters = pd.DataFrame({"race":voter_race, 
                       "party":voter_party})

voter_tab = pd.crosstab(voters.race, voters.party, margins = True)

voter_tab.columns = ["democrat","independent","republican","row_totals"]

voter_tab.index = ["asian","black","hispanic","other","white","col_totals"]

observed = voter_tab.iloc[0:5,0:3]   # Get table without totals for later use
voter_tab

            democrat  independent  republican  row_totals
asian             21            7          32          60
black             65           25          64         154
hispanic         107           50          94         251
other             15            8          15          38
white            189           96         212         497
col_totals       397          186         417        1000

In [17]:
print(voters)

         race        party
0       white     democrat
1       asian   republican
2       white  independent
3       white   republican
4       other     democrat
..        ...          ...
995     white   republican
996  hispanic  independent
997     black  independent
998     white   republican
999     black     democrat

[1000 rows x 2 columns]

In [18]:
expected =  np.outer(voter_tab["row_totals"][0:5],
                     voter_tab.loc["col_totals"][0:3]) / 1000

expected = pd.DataFrame(expected)

expected.columns = ["democrat","independent","republican"]
expected.index = ["asian","black","hispanic","other","white"]

expected

          democrat  independent  republican
asian       23.820       11.160      25.020
black       61.138       28.644      64.218
hispanic    99.647       46.686     104.667
other       15.086        7.068      15.846
white      197.309       92.442     207.249

In [ ]:
[[ 23.82 ,  11.16 ,  25.02 ],
       [ 61.138,  28.644,  64.218],
       [ 99.647,  46.686, 104.667],
       [ 15.086,   7.068,  15.846],
       [197.309,  92.442, 207.249]]

In [19]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()
print(chi_squared_stat)

7.169321280162059

In [20]:
stats.chisquare(f_obs= observed,  f_exp= expected)

Power_divergenceResult(statistic=array([1.47078796, 2.50934232, 3.189191  ]), pvalue=array([0.83180311, 0.64296369, 0.52667855]))

In [21]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 8)   # *

print("Critical value: ",crit)
# print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=8)
print("P value: ",p_value)
# print(p_value)

Critical value:  15.50731305586545
P value:  0.518479392948842

In [22]:
stats.chi2_contingency(observed= observed)

Chi2ContingencyResult(statistic=7.169321280162059, pvalue=0.518479392948842, dof=8, expected_freq=array([[ 23.82 ,  11.16 ,  25.02 ],
       [ 61.138,  28.644,  64.218],
       [ 99.647,  46.686, 104.667],
       [ 15.086,   7.068,  15.846],
       [197.309,  92.442, 207.249]]))

In [ ]:
#ANOVA
One-Way ANOVA
The one-way ANOVA tests whether the mean of some numeric variable differs across the levels of one categorical variable. 
It essentially answers the question: do any of the group means differ from one another? We won't get into the details of
carrying out an ANOVA by hand as it involves more calculations than the t-test, but the process is similar: you go through 
several calculations to arrive at a test statistic and then you compare the test statistic to a critical value based 
on a probability distribution. In the case of the ANOVA, you use the "f-distribution".
The scipy library has a function for carrying out one-way ANOVA tests called scipy.stats.f_oneway(). 
Let's generate some fake voter age and demographic data and use the ANOVA to compare average ages across the groups:

In [23]:
np.random.seed(12)
races =   ["asian","black","hispanic","other","white"]

# Generate random data
voter_race = np.random.choice(a= races,
                              p = [0.05, 0.15 ,0.25, 0.05, 0.5],
                              size=1000)
voter_age = stats.poisson.rvs(loc=18,
                              mu=30,
                              size=1000)
# Group age data by race
voter_frame = pd.DataFrame({"race":voter_race,"age":voter_age})
groups = voter_frame.groupby("race").groups

# Extract individual groups
asian = voter_age[groups["asian"]]
black = voter_age[groups["black"]]
hispanic = voter_age[groups["hispanic"]]
other = voter_age[groups["other"]]
white = voter_age[groups["white"]]

In [24]:
voter_frame

         race  age
0       black   51
1       white   49
2    hispanic   51
3       white   48
4       asian   56
..        ...  ...
995     white   47
996     asian   40
997     white   50
998     white   51
999  hispanic   43

[1000 rows x 2 columns]

In [25]:
# Perform the ANOVA
stats.f_oneway(asian, black, hispanic, other, white)

F_onewayResult(statistic=1.7744689357329695, pvalue=0.13173183201930463)

In [ ]:
!pip install statsmodels

In [26]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('age ~ race',                 # Model formula
            data = voter_frame).fit()
                
anova_result = sm.stats.anova_lm(model, typ=2)
print (anova_result)

             sum_sq     df         F    PR(>F)
race        199.369    4.0  1.774469  0.131732
Residual  27948.102  995.0       NaN       NaN

In [ ]:
#annova  testing using poison distribution data

In [27]:
np.random.seed(12)

# Generate random data
voter_race = np.random.choice(a= races,
                              p = [0.05, 0.15 ,0.25, 0.05, 0.5],
                              size=1000)

# Use a different distribution for white ages
white_ages = stats.poisson.rvs(loc=18, 
                              mu=32,
                              size=1000)

voter_age = stats.poisson.rvs(loc=18,
                              mu=30,
                              size=1000)

voter_age = np.where(voter_race=="white", white_ages, voter_age)

# Group age data by race
voter_frame = pd.DataFrame({"race":voter_race,"age":voter_age})
groups = voter_frame.groupby("race").groups   

# Extract individual groups
asian = voter_age[groups["asian"]]
black = voter_age[groups["black"]]
hispanic = voter_age[groups["hispanic"]]
other = voter_age[groups["other"]]
white = voter_age[groups["white"]]

# Perform the ANOVA
stats.f_oneway(asian, black, hispanic, other, white)

F_onewayResult(statistic=10.164699828386366, pvalue=4.5613242113994585e-08)

In [28]:
# Alternate method
model = ols('age ~ race',                 # Model formula
            data = voter_frame).fit()
                
anova_result = sm.stats.anova_lm(model,typ = 2)
print (anova_result)

                sum_sq     df        F        PR(>F)
race       1284.123213    4.0  10.1647  4.561324e-08
Residual  31424.995787  995.0      NaN           NaN

In [ ]:
# The test result suggests the groups don't have the same sample means in this case, since the p-value is significant at a 99% confidence level. We know that it is the white voters who differ because we set it up that way in the code, but when testing real data, you may not know which group(s) caused the test to throw a positive result. To check which groups differ after getting a positive ANOVA result, you can perform a follow up test or "post-hoc test".

# One post-hoc test is to perform a separate t-test for each pair of groups. You can perform a t-test between all pairs using by running each pair through the stats.ttest_ind() we covered in the lesson on t-tests: